<h2 class="mt-2"><%= @palabra.content %></h2>
<h4>Language:</h4>
<h5><%= @palabra.language.name %></h5><br>

<h4>added by:</h4>
<h5><%= @palabra.user.secret_email %></h5><br>

<% if @palabra.translations.any? %>
  <h4>Translations:</h4>
  <h5><%= @palabra.translations.pluck(:content).join(', ') %></h5>
<% end %>